<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>云媒资快速发布子系统</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!--自定义css文件-->
    <link href="{% static "QuickCatalog/CSS/page.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static "QuickCatalog/player/video-js/video-js.css" %}" rel="stylesheet">
    <link href="{% static "QuickCatalog/player/dist/videojs.markers.css" %}" rel="stylesheet">

    {#    用于定义bootstrap-switch插件#}
    <link href="{% static "QuickCatalog/bootstrap-switch/docs/css/highlight.css" %}" rel="stylesheet">
    <link href="{% static "QuickCatalog/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" %}" rel="stylesheet">
    {#    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">#}
    <link href="{% static "QuickCatalog/bootstrap-switch/docs/css/main.css" %}" rel="stylesheet">
    {#    定义结束#}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>云媒资内容管理
                <small>快速发布子系统</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <table class="col-md-12">
            <tr>
                <td class="col-md-4 col-xs-12">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        导入节目单
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true"> </span></button>
                                    <h4 class="modal-title" id="myModalLabel">请选择串联单</h4>
                                </div>
                                <div class="modal-header">
                                    <h5 class="badge btn-info">上传文件</h5>

                                </div>
                                <div class="modal-body">
                                    <span class="badge btn-info">串联单 :</span>
                                    <table class="table table-bordered  table-hover table-striped  table-condensed">
                                        <tr data-bind="event: { dblclick : function(data, event){getprograminfo(0, data, event)}}">
                                            <td>桐乡新闻 2014-07-30</td>
                                            <td>
                                                <button data-bind="click: function(data, event){getprograminfo(0, data, event)}">
                                                    解析
                                                </button>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info">
                        保存
                    </button>
                    <button type="button" class="btn btn-info">
                        提交
                    </button>
                    <button type="button" class="btn btn-info">
                        配置
                    </button>

                    <button type="button" class="btn btn-info">
                        注销
                    </button>

                </td>

                <td class="col-md-5  col-xs-12 text-right">
                    <div class="badge btn-info">
                        <div><strong>Welcome!</strong> 欢迎您，
                            <a href="#" class="alert-link">
                                王博丞
                            </a>
                            。本次登录，您有 <span class="badge">42</span> 条节目待编目，请及时完成。
                        </div>
                    </div>
                </td>
                <td class="col-md-3 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar active progress-bar-info  progress-bar-striped" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            {#<span class="sr-only">40% Complete (success)</span>#}
                            <span>加载...</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-5">

            <video crossorigin="anonymous" id="player" width="100%" controls preload="auto"
                   class="video-js vjs-default-skin" height="350">
                {#                                <source src="http://10.1.70.88/1.mp4" type="video/mp4">#}
                {#                <source src="{% static "QuickCatalog/video/1.mp4" %}" type="video/mp4">#}
                <source src="http://localhost/1.mp4" type="video/mp4">

                {#                                <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/webm">#}
            </video>


            <!--播放控制区域-->
            <div class="row">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-sm ">
                        <button type="button" id="playCtr" class="btn btn-primary"><span id="playIcon"
                                                                                         class="glyphicon glyphicon-play"></span>
                        </button>
                        <button type="button" id="stopCtr" class="btn btn-primary"><span
                                class="glyphicon glyphicon-stop"></span>
                        </button>
                        <button type="button" id="frontFrameCtr" class="btn btn-primary"><span
                                class="glyphicon glyphicon-step-backward"></span></button>
                        <button type="button" id="nextFrameCtr" class="btn btn-primary"><span
                                class="glyphicon glyphicon-step-forward"></span></button>
                        <button type="button" id="normalCtr" class="btn btn-primary"> x 1</button>
                        <button type="button" id="fastCtr" class="btn btn-primary"><span
                                class="glyphicon glyphicon-fast-forward"></span></button>


                        <input data-handle-width="52"
                               data-bind="bootstrapSwitchOn: function(data, event){ addbrotherLayer(data, event)}"
                               data-label-text="切层" data-on-text="开始" data-off-text="结束" type="checkbox"
                               name="addbrotherLayerBtn" data-on-color="success" data-off-color="warning" checked/>

                        <input data-handle-width="52"
                               data-bind="bootstrapSwitchOn: function(data, event){ addbrotherLayer(data, event)}"
                               data-label-text="子层" data-on-text="开始" data-off-text="结束" type="checkbox"
                               id="addbrotherLayerBtn" data-on-color="success" data-off-color="warning" checked/>


                        <button type="button" data-bind="click: function(data, event){catchKeyframePic(data, event)}"
                                id="keyframeCtr" class="btn btn-primary"><span id="keyframeSpan"
                                                                               class="glyphicon glyphicon-camera"></span>
                        </button>

                        <button type="button" id="minuslayerCtr" class="btn btn-primary"><span
                                class="glyphicon glyphicon-minus-sign"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="col-md-6 table-responsive">
            <div class="tab-content">
                <div class="tab-pane pre-scrollable active" id="programsTab">
                    <form id="programForm" role="form">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td><label class="form-control-static">正题名</label></td>
                                <td><input data-bind="value: title" type="text" class="form-control" id="Title__Pro"
                                           placeholder="输入正题名">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">内容描述</label>
                                </td>
                                <td><textarea rows="8" data-bind="value: description" type="text" class="form-control"
                                              id="Description__Pro" placeholder="输入内容描述"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">题名说明</label>
                                </td>
                                <td><input data-bind="value: title_description" type="text" class="form-control"
                                           id="Title_description__Pro"
                                           placeholder="输入题名说明">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">系列</label>
                                </td>
                                <td><input data-bind="value: media_series" type="text" class="form-control"
                                           id="Series__Pro"
                                           placeholder="输入系列"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">分集总数</label>
                                </td>
                                <td><input data-bind="value: class_num" type="text" class="form-control"
                                           id="Class_num__Pro" placeholder="输入分集总数">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">分集次</label>
                                </td>
                                <td><input data-bind="value: class_time" type="text" class="form-control"
                                           id="Class_time__Pro" placeholder="输入分集次">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">广电分类</label></td>
                                <td><input data-bind="value:tv_class" type="text" class="form-control"
                                           id="Tv_class__Pro" placeholder="输入广电分类">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">关键词</label>
                                </td>
                                <td><input data-bind="value: key_words" type="text" class="form-control"
                                           id="Key_words__Pro" placeholder="输入关键词">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label class="form-control-static">主题人物</label>
                                </td>
                                <td><input data-bind="value: character" type="text" class="form-control"
                                           id="Character__Pro" placeholder="输入主题人物">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">获奖</label>
                                </td>
                                <td><input data-bind="value: awards" type="text" class="form-control"
                                           id="Awards_list__Pro" placeholder="输入获奖">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">栏目</label>
                                </td>
                                <td><input data-bind="value: media_column" type="text" class="form-control"
                                           id="Column_list__Pro" placeholder="输入栏目">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">创建者项</label>
                                </td>
                                <td><input data-bind="value: creater" type="text" class="form-control"
                                           id="Creater_list__Pro" placeholder="输入创建者项">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">其他责任者项</label>
                                </td>
                                <td><input data-bind="value: media_duty" type="text" class="form-control"
                                           id="Duty_list__Pro" placeholder="输入其他责任者项">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">版权所有者名称</label>
                                </td>
                                <td><input data-bind="value: name_of_cpo" type="text" class="form-control"
                                           id="Name_of_cpo__Pro"
                                           placeholder="输入版权所有者名称">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">版权说明</label>
                                </td>
                                <td><input data-bind="value: cp_statement1" type="text" class="form-control"
                                           id="Cp_statement1__Pro"
                                           placeholder="输入版权说明">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">制作完成日期</label>
                                </td>
                                <td><input data-bind="value: produced_date" type="text" class="form-control"
                                           id="Produced_date__Pro"
                                           placeholder="输入制作完成日期">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">首播日期</label>
                                </td>
                                <td><input data-bind="value: publish_date" type="text" class="form-control"
                                           id="Publish_date_Pro"
                                           placeholder="输入首播日期">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">节目类型</label>
                                </td>
                                <td><input data-bind="value: media_type" type="text" class="form-control"
                                           id="Media_type__Pro" placeholder="输入节目类型">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">节目形态</label>
                                </td>
                                <td><input data-bind="value: xintai" type="text" class="form-control" id="Xintai__Pro"
                                           placeholder="输入节目形态"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">实长</label>
                                </td>
                                <td><input data-bind="value: time_end" type="text" class="form-control"
                                           id="Time_end__Pro" placeholder="输入实长"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">入点</label>
                                </td>
                                <td><input data-bind="value: time_start" type="text" class="form-control"
                                           id="Time_start__Pro" placeholder="输入入点">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">色彩</label>
                                </td>
                                <td><input data-bind="value: color" type="text" class="form-control" id="Color__Pro"
                                           placeholder="输入色彩"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">字幕形式</label>
                                </td>
                                <td><input data-bind="value: subtitle" type="text" class="form-control"
                                           id="Subtitle__Pro" placeholder="输入字幕形式">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">声道格式</label>
                                </td>
                                <td><input data-bind="value: audio_format" type="text" class="form-control"
                                           id="Audio_format__Pro" placeholder="输入声道格式">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">画面宽高比</label>
                                </td>
                                <td><input data-bind="value: aspect" type="text" class="form-control" id="Aspect__Pro"
                                           placeholder="输入画面宽高比"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">制式</label>
                                </td>
                                <td><input data-bind="value: zhishi" type="text" class="form-control" id="Zhishi__Pro"
                                           placeholder="输入制式"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">载体</label>
                                </td>
                                <td><input data-bind="value: carry_type" type="text" class="form-control"
                                           id="Carry_type__Pro" placeholder="输入载体">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">语种</label>
                                </td>
                                <td><input data-bind="value: yuzhong" type="text" class="form-control" id="Yuzhong__Pro"
                                           placeholder="输入语种"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">受众</label>
                                </td>
                                <td><input data-bind="value: audience" type="text" class="form-control"
                                           id="Audience__Pro" placeholder="输入受众"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">来源方式</label>
                                </td>
                                <td><input data-bind="value: source_id" type="text" class="form-control"
                                           id="Source_id__Pro" placeholder="输入来源方式">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">附加标示</label>
                                </td>
                                <td><input data-bind="value: additional_logo" type="text" class="form-control"
                                           id="Additional_logo__Pro"
                                           placeholder="输入附加标示">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">资料获取方式</label>
                                </td>
                                <td><input data-bind="value: source_method" type="text" class="form-control"
                                           id="Source_method__Pro"
                                           placeholder="输入资料获取方式">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-control-static">资料提供者</label>
                                </td>
                                <td><input data-bind="value: source_provider" type="text" class="form-control"
                                           id="Source_provider__Pro"
                                           placeholder="输入资料提供者">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="tab-pane pre-scrollable" id="sectionsTab">
                    <form id="sectionForm" role="form">
                        <table data-bind="with: currentSection"
                               class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td><label class="form-control-static">正题名</label></td>
                                <td><input data-bind="value: title" type="text" class="form-control" id="Title__Sec"
                                           placeholder="输入正题名">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">内容描述</label></td>
                                <td><textarea rows="8" data-bind="value: description" type="text" class="form-control"
                                              id="Description__Sec" placeholder="输入内容描述"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">系列题名</label></td>
                                <td><input data-bind="value: section_series" type="text" class="form-control"
                                           id="Series__Sec" placeholder="输入系列题名">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">关键词</label></td>
                                <td><input data-bind="value: key_words" type="text" class="form-control"
                                           id="Key_words__Sec" placeholder="输入关键词">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">广电分类</label></td>
                                <td><input data-bind="value: class_name" type="text" class="form-control"
                                           id="Class_name__Sec" placeholder="输入广电分类">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">事件发生日期</label></td>
                                <td><input data-bind="value: date_time" type="text" class="form-control"
                                           id="Date_time__Sec" placeholder="输入事件发生日期">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">获奖</label></td>
                                <td><input data-bind="value: awards" type="text" class="form-control"
                                           id="Awards_list__Sec" placeholder="输入获奖">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">现场同期声</label></td>
                                <td><input data-bind="value: actual_sound" type="text" class="form-control"
                                           id="Actual_sound__Sec"
                                           placeholder="输入现场同期声">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">创建者项</label></td>
                                <td><input data-bind="value: creater" type="text" class="form-control"
                                           id="Creater_list__Sec" placeholder="输入创建者项">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">其他责任者项</label></td>
                                <td><input data-bind="value: section_duty" type="text" class="form-control"
                                           id="Duty_list__Sec" placeholder="输入其他责任者项">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">节目形态</label></td>
                                <td><input data-bind="value: program_form" type="text" class="form-control"
                                           id="Program_form__Sec" placeholder="输入节目形态">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">字幕</label></td>
                                <td><input data-bind="value: subtitle" type="text" class="form-control"
                                           id="Subtitle__Sec" placeholder="输入字幕">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">实长</label></td>
                                <td><input data-bind="value: time_end" type="text" class="form-control"
                                           id="Time_end_Sec" placeholder="输入实长">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">入点</label></td>
                                <td><input data-bind="value: time_start" type="text" class="form-control"
                                           id="Time_start_Sec" placeholder="输入入点">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">时间范围</label></td>
                                <td><input data-bind="value: years_covered" type="text" class="form-control"
                                           id="Years_covered__Sec"
                                           placeholder="输入时间范围">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">空间范围</label></td>
                                <td><input data-bind="value: spatial" type="text" class="form-control" id="Spatial__Sec"
                                           placeholder="输入空间范围">
                                </td>
                            </tr>

                            <tr>
                                <td><label class="form-control-static">资料获取方式</label></td>
                                <td><input data-bind="value: data_source_way" type="text" class="form-control"
                                           id="Data_source_way__Sec"
                                           placeholder="输入资料获取方式">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">资料提供者</label></td>
                                <td><input data-bind="value: data_source_man" type="text" class="form-control"
                                           id="Data_source_man__Sec"
                                           placeholder="输入资料提供者">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="tab-pane pre-scrollable" id="scenesTab">
                    <form id="sceneForm" role="form">
                        <table data-bind="with: currentScene"
                               class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td><label class="form-control-static">场景名</label></td>
                                <td><input data-bind="value: title" type="text" class="form-control" id="Title__Sce"
                                           placeholder="输入场景名">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">主题词</label></td>
                                <td><input data-bind="value: topic_words" type="text" class="form-control"
                                           id="Topic_words__Sce" placeholder="输入主题词">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">关键词</label></td>
                                <td><input data-bind="value: key_words" type="text" class="form-control"
                                           id="Key_words__Sce" placeholder="输入关键词">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">内容描述</label></td>
                                <td><textarea rows="5" data-bind="value: description" type="text" class="form-control"
                                              id="Description__Sce" placeholder="输入内容描述"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">事件发生日期</label></td>
                                <td><input data-bind="value: date_of_event" type="text" class="form-control"
                                           id="Date_of_event__Sce"
                                           placeholder="输入事件发生日期">
                                </td>
                            <tr>
                            <tr>
                                <td><label class="form-control-static">现场同期声</label></td>
                            <td><input data-bind="value: natural_sound" type="text" class="form-control"
                                       id="Natural_sound__Sce"
                                           placeholder="输入现场同期声">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">实长</label></td>
                                <td><input data-bind="value: time_end" type="text" class="form-control"
                                           id="Time_end__Sce" placeholder="输入实长">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">入点</label></td>
                                <td><input data-bind="value: time_start" type="text" class="form-control"
                                           id="Time_start__Sce" placeholder="输入入点">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">字幕形式</label></td>
                                <td><input data-bind="value: subtitle" type="text" class="form-control"
                                           id="Subtitle__Sce" placeholder="输入字幕形式">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="tab-pane pre-scrollable" id="shotsTab">
                    <form id="shotForm" role="form">
                        <table data-bind="with: currentShot" class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td><label class="form-control-static">镜头名</label></td>
                                <td><input data-bind="value: title" type="text" class="form-control" id="Title__Shot"
                                           placeholder="输入镜头名">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">主题词</label></td>
                                <td><input data-bind="value: topic_words" type="text" class="form-control"
                                           id="Topic_words__Shot" placeholder="输入主题词">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">关键词</label></td>
                                <td><input data-bind="value: key_words" type="text" class="form-control"
                                           id="Key_words__Shot" placeholder="输入关键词">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">内容描述</label></td>
                                <td><textarea rows="5" data-bind="value: description" type="text" class="form-control"
                                              id="Description__Shot" placeholder="输入内容描述"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">拍摄地点</label></td>
                                <td><input data-bind="value: location" type="text" class="form-control"
                                           id="Location__Shot" placeholder="输入拍摄地点">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">拍摄方式</label></td>
                                <td><input data-bind="value: shootway" type="text" class="form-control"
                                           id="Shootway__Shot" placeholder="输入拍摄方式">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">景别</label></td>
                                <td><input data-bind="value: sense_range" type="text" class="form-control"
                                           id="Sense_range__Shot" placeholder="输入景别">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">拍摄角度</label></td>
                                <td><input data-bind="value: angle" type="text" class="form-control" id="Angle__Shot"
                                           placeholder="输入拍摄角度">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">现场同期声</label></td>
                                <td><input data-bind="value: actual_sound" type="text" class="form-control"
                                           id="Actual_sound__Shot"
                                           placeholder="输入现场同期声">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">拍摄日期</label></td>
                                <td><input data-bind="value: date_time" type="text" class="form-control"
                                           id="Date_time__Shot" placeholder="输入拍摄日期">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">入点</label></td>
                                <td><input data-bind="value: time_start" type="text" class="form-control"
                                           id="Time_start__Shot" placeholder="输入入点">
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-control-static">实长</label></td>
                                <td><input data-bind="value: time_end" type="text" class="form-control"
                                           id="Time_end__Shot" placeholder="输入实长">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <ul id="DetailTabs" class="nav nav-pills nav-stacked" role="tablist">
                <li class="active">
                    <a href="#programsTab" role="tab" data-toggle="tab">
                        节目
                    </a>
                </li>
                <li>
                    <a href="#sectionsTab" role="tab" data-toggle="tab">
                        片段
                    </a>
                </li>
                <li>
                    <a href="#scenesTab" role="tab" data-toggle="tab">
                        场景
                    </a>
                </li>
                <li>
                    <a href="#shotsTab" role="tab" data-toggle="tab">
                        镜头
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="CatalogTab" role="tabpanel" class="col-md-5 table-responsive">
            <div class="tab-content">
                <div class="tab-pane active pre-scrollable" id="OnCatalogTab">
                    <!-- 待编目节目汇总 -->
                    <table class="table table-bordered  table-hover table-striped  table-condensed">
                        <thead>
                        <tr class="success">
                            <th><label class="form-control-static">节目名称</label></th>
                            <th><label class="form-control-static">当前状态</label></th>
                            <th><label class="form-control-static">提交时间</label></th>
                        </tr>
                        </thead>


                        <tr data-bind="event: { dblclick : function(data, event){getprograminfo(1, data, event)}}">
                            <td>桐乡新闻 2011-04-01</td>
                            <td>2014-10-12</td>
                            {#                            <td>待编目</td>#}
                            <td>
                                <button data-bind="click: function(data, event){getprograminfo(1, data, event)}">编目
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>桐乡新闻 2011-04-02</td>
                            <td>2014-10-12</td>
                            <td>一审未通过</td>
                        </tr>

                        <tr>
                            <td>桐乡新闻 2011-04-03</td>
                            <td>2014-10-12</td>
                            <td>待编目</td>
                        </tr>

                        <tr>
                            <td>桐乡新闻 2011-04-04</td>
                            <td>2014-10-12</td>
                            <td>待编目</td>
                        </tr>
                        <tr>
                            <td>桐乡新闻 2011-04-05</td>
                            <td>2014-10-12</td>
                            <td>一审未通过</td>
                        </tr>
                        <tr>
                            <td>桐乡新闻 2011-04-06</td>
                            <td>2014-10-12</td>
                            <td>一审未通过</td>
                        </tr>
                        <tr>
                            <td>桐乡新闻 2011-04-07</td>
                            <td>2011-04-01</td>
                            <td>一审未通过</td>
                        </tr>
                        <tr>
                            <td>桐乡新闻 2011-04-08</td>
                            <td>2014-10-12</td>
                            <td>一审未通过</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane pre-scrollable" id="LayerTreeTab">
                    <div class="tree">
                        <ul class="ulCustom">
                            <li>
                                <span data-bind="click: changeToOtherLayer(0, $data, event)" class="btn btn-info"><i
                                        data-bind="text: title"
                                        class="glyphicon glyphicon-calendar"></i></span>
                                <ul data-bind="foreach: sections">
                                    <li>
                                        <span data-bind="click: $root.changeToOtherLayer(1, $data, event)"
                                              class="btn btn-info"><i data-bind="text: title"
                                                                      class="glyphicon glyphicon-minus"></i></span>
                                        <ul data-bind="foreach: scenes">
                                            <li>
                                                <span data-bind="click: $root.changeToOtherLayer(2, $data, event)"
                                                      class="btn btn-info"><i data-bind="text: title"
                                                                              class="glyphicon glyphicon-minus"></i></span>
                                                <ul data-bind="foreach: shots">
                                                    <li>
                                                        <span data-bind="click: $root.changeToOtherLayer(3, $data, event)"
                                                              class="btn btn-info">
                                                            <i data-bind="text:title"
                                                               class="glyphicon glyphicon-minus"></i>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="active">
                        <a href="#OnCatalogTab" role="tab" data-toggle="tab">
                            待编目
                        </a>
                    </li>
                    <li>
                        <a href="#LayerTreeTab" role="tab" data-toggle="tab">
                            详细信息
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="contentPage" role="tabpanel" class="col-md-6">
            <div class="tab-content">
                <div class="tab-pane " id="OtherInfoTab">
                    <!-- 其他信息 -->
                    <div id="ol">
                        <textarea cols="2" rows="14" id="li" disabled></textarea>
                    </div>
                    <div>
                        <textarea data-bind="text: $root.playlist" name="co" rows="14" wrap="off" id="c2"
                                  onkeyup="keyUp()" onfocus="keyUp()"
                                  onscroll="G('li').scrollTop = this.scrollTop;" class="grey"> </textarea>
                    </div>
                </div>
                <div class="tab-pane active pre-scrollable" id="KeyframeTab">
                    <!-- 关键帧预览 -->
                    <div data-bind="foreach:currentKeyframes" class="row text-center">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <canvas data-bind="attr:{id: 'canvas' + id()}, event:{change: $root.drawImage($data, event)}"
                                        width="150"
                                        height="150" id="keyframe"></canvas>
                                <div>
                                    <p data-bind="text: position" class="badge btn-success"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="active">
                        <a href="#KeyframeTab" role="tab" data-toggle="tab">
                            关键帧预览
                        </a>
                    </li>
                    <li>
                        <a href="#OtherInfoTab" role="tab" data-toggle="tab">
                            串联单内容
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="{% static "QuickCatalog/bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>

<!-- 描述：video.js 带有圆点功能的 video-mark plug-->
<script type="text/javascript" src="{% static "QuickCatalog/player/video-js/video.js" %}"></script>
<script type="text/javascript" src="{% static "QuickCatalog/player/src/videojs.markers.js" %}"></script>
<script>
    var player = videojs('player');

    //load the marker plugin
    player.markers({
        markers: [
            {
                time: 950,
                text: "put"
            },
            {
                time: 16,
                text: "any"
            },
            {
                time: 23.6,
                text: "text"
            },
            {
                time: 28,
                text: "here"
            }
        ]
    });
</script>
<!-- video.js 结束 -->
<!-- 自定义JS -->
<!-- bootstrap-switch脚本 -->
<script type="text/javascript" src="{% static "QuickCatalog/bootstrap-switch/docs/js/highlight.js" %}"></script>
<script type="text/javascript" src="{% static "QuickCatalog/bootstrap-switch/dist/js/bootstrap-switch.js" %}"></script>
<script type="text/javascript" src="{% static "QuickCatalog/bootstrap-switch/docs/js/main.js" %}"></script>


<!-- 播放器脚本 -->
<script type="text/javascript" src="{% static "QuickCatalog/JS/player.js" %}"></script>
<!-- Knockout框架 -->
<script type="text/javascript" src="{% static "QuickCatalog/knockoutJS/knockout-3.3.0.js" %}"></script>

<!-- 界面交互脚本 -->
<script type="text/javascript" src="{% static "QuickCatalog/JS/mainpageUI.js" %}"></script>
<!-- 自定义结束 -->

</body>
</html>
