.pre-scrollable {
    max-height: 350px;
}

#OnCatalogTab, #LayerTreeTab, #KeyframeTab, #OtherInfoTab {
    height: 300px;
}

#programForm {
    text-align: center;
}

#sectionForm {
    text-align: center;
}

#sceneForm {
    text-align: center;
}

#shotForm {
    text-align: center;
}

.btn-toolbar {
    margin-left: 10px;
}

.col-md-5 {
    padding-right: 0;
    padding-left: 0;
}

.col-md-6 {
    padding-left: 0;
    padding-bottom: 0;
}

.progress {
    margin-top: auto;
    margin-bottom: auto;
}

.row {

    padding-bottom: 1px;
}

/* tree css */
/* http://runjs.cn/code/yb2n864s */
.tree {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li > span {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

.ulCustom {
    -webkit-padding-start: 0;
}

/*自定义textarea*/
.b1 {
    height: 20px;
    border: 1px solid #7f9db9;
    line-height: 20px;
    padding: 0
}

input.btn {
    height: auto;
    font-size: 14px;
    font-weight: bold;
    color: #000
}

#main {
    color: #666
}

textarea {
    border: 1px solid #7f9db9;
    font-size: 14px;
    width: 100%;
    color: #000
}

input {
    font-size: 14px;
    color: #000
}

#main h3 {
    color: #000
}

.grey {
    color: #999
}

em {
    font-style: normal;
    color: #FF0000;
    font-size: 12px;
}

#msg1, #msg2, #msg3, #msg4 {
    display: none
}

#ol {
    position: absolute;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: #ecf0f5;
    width: 30px;
    text-align: left;
}

#li {
    background: #ecf0f5;
    /*height: 160px;*/
    overflow: hidden;
    width: 30px;
    border-right: 0;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    text-align: center
}

#c2 {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 160px;*/
    margin: 0px;
    width: 100%;
    padding-left: 40px;
    /*overflow-x: hidden;*/
    line-height: 20px;
    overflow: scroll;
}


/*刘翌翊添加 2015.06.02*/
.tab-pane{
    border-style: solid; border-width: 1px;border-color: lightsteelblue;
}

body{
    background-color: #e6e6e6;
}

#topHead{
    background-image: url('../images/header_01.png');
    background-repeat:no-repeat;
}

#nav{
    background-image: url('../images/header_02.png');
    background-repeat:no-repeat;
}

.page-header {
    height:53px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

h2{
    font-size: 55px;
    opacity:0.0;
}


.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #b2b2b2;
}

/*刘翌翊添加 2015.06.02*/